{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}パスワードリセット{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1 class="text-primary mb-3" style="margin: 30 auto;">パスワードリセット</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="text-primary mb-3">パスワードリセット用メールを送信します。</p>

            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                <div class="col-xl-9 mx-auto text-primary mb-3">
                    {% bootstrap_form form %}
                </div>

                <button class="btn btn-primary btn-x1" type="submit" style="margin: 30 auto;">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}