label, input[type='radio'] {
    cursor: pointer;
}


.listt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list05 {
    margin-bottom: 3rem;
    padding: 3rem;
    width: 27%;
    margin:20px auto;
    padding:1em;
	box-shadow: 0 0 5px #999;
    border-radius:0.5em;
}

