{% extends 'base.html' %}

{% load static %}

{% block title %}検索結果{% endblock %}

{% block head %}
<!-- 独自のCSSを使う人はここにCSSのファイルを指定する -->
<link href="{% static 'css/gourmet_style.css' %}" rel="stylesheet" />

<link href="{% static 'css/mystyle.css' %}" rel="stylesheet" />
<!-- <link href="{% static 'css/cssファイル' %}" rel="stylesheet" /> -->
{% endblock %}

{% block contents %}
<!-- ここにページの機能を追加していく -->
<!-- データベースが完成したら、機能を追加してください。 -->
<div class="archive">
{% for gourmet in gourmet_list %}
            <div class="archive2">
                    <img src="{{ gourmet.pic1.url }}" width="390" height="200"></img>
                    <h2 class="post-title">
                        <a class="gourmet_name" href="{% url 'graduation:gourmet_detail' gourmet.pk %}">{{ gourmet.name }}</a>
                    </h2>

                    <div class="archive3">
                    <img src="{% static 'assets/img/fork_knife.png' %}" style="width:50px;">
                    {{ gourmet.category }}
                    </div>
            </div>
            <!-- <hr class="my-4"> -->
            {% empty %}
            <h1 class="text-primary mb-3" style="margin: 30 auto; text-align:center;">検索条件に一致する項目はありません。</h1>
{% endfor %}
</div>

<br>
<div align="center">
    <button style="border:none; margin: 10 auto;" class="btn btn-secondary btm-x1"><a href="{% url 'graduation:gourmet' %}" style="text-decoration:none;"><b>戻る</b></a></button>
</div>
<!-- {% include 'pagination.html' %} -->
{% endblock %}