{% extends 'base.html' %}

{% load static %}


{% block title %}店検索画面{% endblock %}

{% block head %}
<!-- 独自のCSSを使う人はここにCSSのファイルを指定する -->
<link href="{% static 'css/guide_style.css' %}" rel="stylesheet" />
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet" />
{% endblock %}

{% block contents %}

<form style="margin:10 auto;" action="{% url 'graduation:shop_list' %}" method="post">
    <div class="parent">
        {% csrf_token %}
        <input type="search" name="search" placeholder="キーワードを入力">
        <input class="btn btn-secondary" type="submit" name="submit" value="検索" style="height: 3.5em;">
    </div>
</form>

<form style="margin:10 auto;" action="{% url 'graduation:shop_list' %}" method="post">
    <div class="parent">
        <div class="pagination">

            <div class="item text-primary mb-3" style="font-size: 30; font-weight: bold;">ジャンル</div>

            <div class="item text-primary mb-3">
                {% csrf_token %}
                <label for="chikuname" style="font-size: 30;">飲食店</label>
                <select name="genre" class="kensaku2" style="background-color:  #C5956B;">
                    <option value="洋食">
                        洋食
                    </option>
                    <option value="和食">
                        和食
                    </option>
                    <option value="中華">
                        中華
                    </option>
                </select>
            </div>
            <div class="kensaku1">
                <input class="btn btn-secondary mb-3" type="submit" name="submit" value="検索" style="font-size: 30; width:100px;">
            </div>
        </div>
    </div>
</form>
<div align="center">
    <button style="border:none; margin: 50 auto;" class="btn btn-secondary btm-x1"><a href="{% url 'graduation:index' %}" style="text-decoration:none;"><b>戻る</b></a></button>
</div>
{% endblock %}

