{% extends 'base.html' %}

{% load static %}

{% block title %}店詳細{% endblock %}

{% block head %}
<!-- 独自のCSSを使う人はここにCSSのファイルを指定する -->
<!-- <link href="{% static 'css/mystyle.css' %}" rel="stylesheet" />
<link href="{% static 'css/shop.css' %}" rel="stylesheet" /> -->
<!-- <link href="{% static 'css/gourmet_images.css' %}" rel="stylesheet" /> -->
<link href="{% static 'css/shop_shosai.css' %}" rel="stylesheet" />
{% endblock %}

{% block contents %}

<div class="shosai">
    <h1 align="center" class="text-primary mb-3 style" style="margin: 30 auto;"><span>{{object.place.name}}</span></h1>

    <div class="hscroll">
        <ul>
            <li><img src="{{ object.pic1.url }}" width="600px" height="600px"></li>
            {% if object.pic2 %}
            <li><img src="{{ object.pic2.url }}" width="600px" height="600px"></li>
            {% endif %}
            {% if object.pic3 %}
            <li><img src="{{ object.pic3.url }}" width="600px" height="600px"></li>
            {% endif %}
            {% if object.pic4 %}
            <li><img src="{{ object.pic4.url }}" width="600px" height="600px"></li>
            {% endif %}
            {% if object.pic5 %}
            <li><img src="{{ object.pic5.url }}" width="600px" height="600px"></li>
            {% endif %}
        </ul>
        <span class="arrow left"></span>
        <span class="arrow right"></span>
    </div>

    <div class="shosai01">

        <div class="shosai_location text-primary mb-3">
        <div class="icon">📍</div>{{object.place.location}}
        </div>

        <div class="shosai_call text-primary mb-3">
        <div class="icon">📞</div>{{object.place.call}}
        </div>

        <div class="shosai_openingHours text-primary mb-3">
        <div class="icon">🕘</div>{{object.place.openingHours}}  ~  {{object.place.endingHours}}
        </div>

        <div class="shosai_regularHoliday text-primary mb-3">
        <div class="icon">📅</div>定休日  {{object.place.regularHoliday}}
        </div>

        <div class="shosai_url text-primary mb-3">
        <div class="icon">🔗</div><a href="{{object.place.url}}">{{object.place.url}}</a>
        </div>

        <div class="shosai_explanation text-primary mb-3">
            {{object.place.explanation}}
        </div>

        <div class="parent1">
            <button class="btn btn-secondary btm-x1" style="margin: 10 auto;"><a href="{% url 'graduation:shop' %}" style="text-decoration: none;"><b>戻る</b></a></button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/images.js' %}"></script>
{% endblock %}