{% extends 'base.html' %}

{% load static %}

{% block title %}トップページ{% endblock %}

{% block head %}
<!-- 独自のCSSを使う人はここにCSSのファイルを指定する -->
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"
{% endblock %}

{% block bread %}
<nav>
    <ol>
        <a href="{% url 'graduation:index' %}">トップページ</a>
    </ol>
</nav>

{% endblock %}

{% block contents %}
<!-- ここにページの機能を追加していく -->
<div class="top" >
    <h1 class="text-primary mb-3" align="center" style="margin: 30;"><b>おすすめスポット</b></h1>
    <div class="section">
        <div class="sliderArea">
            <div class="regular_2 slider">
                <div><a target="_blank" href="https://www.kyoto-aquarium.com/index.html" style=""><img src="{% static 'assets/img/冬のあったかすいぞくかん.jpg' %}"></a></div>
                <div><a target="_blank" href="https://www.kiyomizudera.or.jp/"><img src="{% static 'assets/img/清水寺.jpg' %}"></a></div>
                <div><a target="_blank" href="https://kyoto-design.jp/spot/8665"><img src="{% static 'assets/img/桃山城.jpg' %}"></a></div>
                <div><a target="_blank" href="https://www.fukuchiyamacastle.jp/"><img src="{% static 'assets/img/福知山城.jpg' %}"></a></div>
                <div><a target="_blank" href="https://toji.or.jp/guide/gojunoto/"><img src="{% static 'assets/img/夜景.jpg' %}"></a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}