{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% load static %}

{% block title %}サインアップ{% endblock %}

{% block active_signup %}active{% endblock %}

{% block head %}
<link href="{% static 'css/user_signup.css' %}" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/garlic.js' %}"></script>
<script>
$(function(){
$("form").garlic();
});
</script>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1 class="name mb-3">サインアップ</h1>
            <form data-persist="garlic" method="post" action="{% url 'graduation:user_signup' %}">
                {% csrf_token %}

                <div class="col-xl-9 mx-auto text-primary mb-3">
                    {% bootstrap_form form %}
                </div>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}

                <div class="terms_of_service">
                    <a href="{% url 'graduation:terms_of_service'%}" >ふらっとナビ利用規約を同意したうえで登録ボタンを押してください</a>
                    <p style="margin: 30 auto;">※郵便番号・住所・年齢・性別は入力後修正することができません!!</p>
                    <div id="form" style="margin: 50 auto;">
                        <input type="checkbox" v-model="checkAgree">
                        <label>
                            同意します。
                        </label>
                        <button v-bind:disabled="checkAgree==false" class="btn btn-primary" type="submit" >登録</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    new Vue({
        el: "#form",
        data: {
            checkAgree: false
        }
    })
</script>
{% endblock %}
